:root {
    --mainWhite: #f5f5f5f5;
    --mainDark: #333333;
    --mainGreen: #317b22;
    --mainRed: #b80c09;
    --mainBlue: #05668d;
    --mainYellow: yellow;
    --font: 'Noto Serif', serif;
  }
  
  /* body {
    background: var(--mainWhite);
    color: var(--mainDark);
  } */
/* .container-fluid {
  padding-top: 120px;
} */
  .header {
    background-image: url(./budget-background-update-03.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
  .jumbo-header {
    font-family: var(--font);
    font-weight: 700;
    color: rgb(75, 75, 75);
  }
  .description {
    font-size: 1.1rem;
    margin-top: 2rem;
  }
  .budget-feedback,
  .expense-feedback {
    display: none;
  }
  
  .budget-form {
    border: 0.15rem solid var(--mainGreen);
    padding: 1rem;
    border-radius: 2rem;
  }
  .expense-form {
    border: 0.15rem solid var(--mainRed);
    padding: 1rem;
    border-radius: 2rem;
  }
  .budget-submit {
    background: transparent;
    border: 0.1rem solid var(--mainGreen);
    color: var(--mainGreen);
    border-radius: 2rem;
  }
  .expense-submit {
    background: transparent;
    border: 0.1rem solid var(--mainRed);
    border-radius: 2rem;
    color: var(--mainRed);
  }
  .expense-submit:hover {
    background: var(--mainRed);
    color: var(--mainWhite);
  }
  .budget-submit:hover {
    background: var(--mainGreen);
    color: var(--mainWhite);
  }
  
  .budget-input {
    border: 0.05rem solid var(--mainGreen) !important;
    border-radius: 2rem;
    margin-bottom: 10px;
  }
  .expense-input {
    border: 0.05rem solid var(--mainRed) !important;
    border-radius: 2rem;
  }
  .expense-group {
      margin-bottom: 10px;
  }
  .btn-info {
    background-color: rgb(84, 238, 130);
    border: rgb(84, 238, 130);
  }
  .btn-info:hover {
    background-color: rgb(51, 218, 101);
  }
  #foot-name {
    font-family: var(--font);
  }
  .expense-amount,
  .expense-title {
    color: var(--mainRed);
  }
  .edit-icon {
    color: var(--mainBlue);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none !important;
  }
  .delete-icon {
    color: var(--mainRed);
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none !important;
  }
  .edit-icon:hover {
    color: var(--mainBlue);
  }
  .delete-icon:hover {
    color: var(--mainRed);
  }
  .showItem {
    display: block;
  }
  .info-title {
    font-size: 1.5rem;
  }
  .budget {
    font-size: 1.6rem;
    color: var(--mainGreen);
  }
  .expense {
    font-size: 1.6rem;
    color: var(--mainRed);
  }
  .balance {
    font-size: 1.6rem;
  }
  .budget-icon,
  .expense-icon,
  .balance-icon {
    font-size: 2.5rem;
    /* color: var(--mainBlue); */
  }
  .budget-png{
    height: 10rem;
    margin-top: -30px;
  }
  .expense-png{
    height: 10rem;
    margin-top: -30px;
  }
  .balance-png{
    height: 10rem;
    margin-top: -30px;
  }
  .showRed {
    color: var(--mainRed);
  }
  .showGreen {
    color: var(--mainGreen);
  }
  .showBlack {
    color: var(--mainDark);
  }
  @media screen and (max-width: 992px) {
    .header {
      background-image: url(./budget-background-update-sm-03.png);
    }
    .budget {
      font-size: 2.6rem;
      color: var(--mainGreen);
    }
    .expense {
      font-size: 2.6rem;
      color: var(--mainRed);
    }
    .balance {
      font-size: 2.6rem;
    }
    .description {
      margin-top: -2%;
      color: rgb(73, 73, 73);
      font-size: 0.9rem;
    }
    .budget-icon,
    .expense-icon,
    .balance-icon {
      font-size: 3.5rem;
      color: var(--mainBlue);
    }
    .budget-png,
    .expense-png,
    .balance-png {
      height: 5rem; 
    }
    #budget-amount,
    #expense-amount,
    #balance-amount,
    span
    {
      font-size: 1.8rem;
    }

  }
  .list-item {
    flex: 0 0 33.33%;
    text-align: center;
  }
  .expense-item {
    height: 2rem;
  }
  